<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/libs/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
  <div class="text-center text-primary m-2 p-3 rounded">
    <h2 class="text-center my-3">[[${pageTitle}]]</h2>
  </div>
  <div class="row w-50 mx-auto">
    <form th:action="@{${post.postId} != null ? '/manager/posts/update/' + ${post.postId} : '/manager/posts/save'}"
          enctype="multipart/form-data"
          method="post"
          th:object="${post}">
      <input type="hidden" th:field="*{postId}" />
      <div class="border rounded text-bg-secondary">
        <div class="m-3">
            <label class="form-label">Title</label>
            <input type="text" th:field="*{postTitle}" class="form-control" required/>
        </div>
        <div class="m-3">
            <label class="form-label">Content</label>
            <textarea th:field="*{postContent}" class="form-control" rows="5"></textarea>
        </div>
        <div class="m-3">
            <label class="form-label">Image (URL)</label>
            <input type="file" name="imageFile" accept="image/*" class="form-control"/>
        </div>
        <div class="m-3 row text-center">
          <!-- Category -->
            <div class="col-6">
              <label class="form-label">Category</label>
              <select th:field="*{postCategory}" class="form-select">
                <option value="DNA_KNOWLEDGE">DNA Knowledge</option>
                <option value="TESTING_GUIDE">Testing Guide</option>
                <option value="CASE_STUDIES">Case Studies</option>
                <option value="ANNOUNCEMENTS">Announcements</option>
              </select>
            </div>
          <!-- Status-->
            <div class="col-6">
              <label class="form-label">Status</label>
              <select th:field="*{postStatus}" class="form-select">
                <option value="DRAFT">Draft</option>
                <option value="PUBLISHED">Published</option>
                <option value="ARCHIVED">Archived</option>
                <option value="DELETED">Deleted</option>
              </select>
            </div>
        </div>
        <div class="text-center m-3">
          <button type="submit" class="btn btn-primary me-3">Save</button>
          <a th:href="@{/manager/posts}" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
