<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="app-sidebar sticky" id="sidebar" th:fragment="header">

    <div class="container p-0">
        <!-- Start::main-sidebar -->
        <div class="main-sidebar">

            <!-- Start::nav -->
            <nav class="main-menu-container nav nav-pills sub-open">
                <div class="landing-logo-container">
                    <div class="horizontal-logo">
                        <a href="index.html" class="header-logo">
                            <img src="../assets/images/brand-logos/bloodline-logo-white.png" alt="logo"
                                 class="desktop-logo">
                            <img src="../assets/images/brand-logos/bloodline-logo-white.png" alt="logo"
                                 class="desktop-white">
                        </a>
                    </div>
                </div>
                <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                                             width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg></div>
                <ul class="main-menu">
                    <!-- Start::slide -->
                    <li class="slide">
                        <a class="side-menu__item" href="#home">
                            <span class="side-menu__label">Home</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="#services" class="side-menu__item">
                            <span class="side-menu__label">Services</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="#about" class="side-menu__item">
                            <span class="side-menu__label">About</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <!-- <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <span class="side-menu__label me-2">More</span>
                            <i class="fe fe-chevron-right side-menu__angle op-8"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide">
                                <a href="#statistics" class="side-menu__item">Statistics</a>
                            </li>
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">Level-2
                                    <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child2">
                                    <li class="slide">
                                        <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Level-2-2
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child3">
                                            <li class="slide">
                                                <a href="javascript:void(0);"
                                                    class="side-menu__item">Level-2-2-1</a>
                                            </li>
                                            <li class="slide has-sub">
                                                <a href="javascript:void(0);"
                                                    class="side-menu__item">Level-2-2-2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
                    <!-- End::slide -->
                    <li class="slide">
                        <a href="#pricing" class="side-menu__item">
                            <span class="side-menu__label">Pricing</span>
                        </a>
                    </li>
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="#faq" class="side-menu__item">
                            <span class="side-menu__label">Faq's</span>
                        </a>
                    </li>


                    <!-- End::slide -->
                    <!-- Start::slide -->

                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="#howitworks" class="side-menu__item">
                            <span class="side-menu__label">How It Works</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a href="#contact" class="side-menu__item">
                            <span class="side-menu__label">Contact</span>
                        </a>
                    </li>


                    <!-- End::slide -->

                </ul>
                <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                                               width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z">
                    </path>
                </svg></div>
                <div class="d-lg-flex d-none">
                    <div class="header-element headerProfile-dropdown" bis_skin_checked="1">
                        <!-- Start::header-link|dropdown-toggle -->
                        <a href="javascript:void(0);" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <!-- Hiển thị ảnh profile nếu có -->
                            <img th:if="${userProfile != null and userProfile.profileImageUrl != null and !#strings.isEmpty(userProfile.profileImageUrl)}"
                                 th:src="@{${userProfile.profileImageUrl}}"
                                 alt="Profile Image"
                                 width="37"
                                 height="37"
                                 class="rounded-circle">

                            <!-- Hiển thị ảnh mặc định nếu không có profile image -->
                            <img th:if="${userProfile == null or userProfile.profileImageUrl == null or #strings.isEmpty(userProfile.profileImageUrl)}"
                                 th:src="@{/images/default-avatar.png}"
                                 alt="Default Avatar"
                                 width="37"
                                 height="37"
                                 class="rounded-circle">
                        </a>

                        <!-- End::header-link|dropdown-toggle -->
                        <ul class="main-header-dropdown dropdown-menu pt-0 header-profile-dropdown dropdown-menu-end main-profile-menu" aria-labelledby="mainHeaderProfile">
                            <li>
                                <div class="main-header-profile bg-primary menu-header-content text-fixed-white" bis_skin_checked="1">
                                    <div class="my-auto" bis_skin_checked="1">
                                        <h6 class="mb-0 lh-1 text-fixed-white">Petey Cruiser</h6><span class="fs-11 op-7 lh-1">Premium Member</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" th:href="@{/user/profile}">
                                    <i class="bx bx-user-circle fs-18 me-2 op-7"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" th:href="@{/user/profile/update}">
                                    <i class="bx bx-cog fs-18 me-2 op-7"></i>Edit Profile
                                </a>
                            </li>
                            <li><a class="dropdown-item d-flex border-block-end" th:href="@{/user/dashboard}"><i class="bx bx-tachometer fs-18 me-2 op-7"></i>Dashboard</a></li>                            <li><a class="dropdown-item d-flex" href="chat.html"><i class="bx bx-envelope fs-18 me-2 op-7"></i>Messages</a></li>
                            <li><a class="dropdown-item d-flex" href="chat.html"><i class="bx bx-envelope fs-18 me-2 op-7"></i>Messages</a></li>
                            <li><a class="dropdown-item d-flex border-block-end" href="editprofile.html"><i class="bx bx-slider-alt fs-18 me-2 op-7"></i>Account Settings</a></li>
                            <li><a class="dropdown-item d-flex" href="signin.html"><i class="bx bx-log-out fs-18 me-2 op-7"></i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
    </div>

</aside>


</body>
</html>