<!-- Admin Header Fragment -->
<header th:fragment="header" class="app-header main-header sticky">
    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">
        <!-- Start::header-content-left -->
        <div class="header-content-left">
            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a th:href="@{/admin/dashboard}" class="header-logo">
                        <span class="fs-4 fw-bold text-danger">Admin Panel</span>
                    </a>
                </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link -->
                <a aria-label="Hide Sidebar"
                    class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                    data-bs-toggle="sidebar" href="javascript:void(0);">
                    <i class="header-icon fe fe-align-left"></i>
                </a>
                <div class="main-header-center d-none d-lg-block">
                    <input class="form-control" placeholder="Search users, orders, systems..." type="search">
                    <button class="btn"><i class="fa fa-search d-none d-md-block"></i></button>
                </div>
                <!-- End::header-link -->
            </div>
            <!-- End::header-element -->
        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <div class="header-content-right">
            <!-- Search on mobile -->
            <div class="header-element Search-element d-block d-lg-none">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside"
                    data-bs-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="header-link-icon">
                        <path
                            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z">
                        </path>
                    </svg>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu dropdown-menu-end Search-element-dropdown">
                    <li>
                        <div class="input-group w-100 p-2">
                            <input type="text" class="form-control" placeholder="Search....">
                            <div class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Start::header-element -->
            <div class="header-element header-theme-mode">
                <!-- Start::header-link|layout-setting -->
                <a href="javascript:void(0);" class="header-link layout-setting">
                    <span class="light-layout">
                        <!-- Start::header-link-icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="header-link-icon" height="24"
                            viewBox="0 -960 960 960" width="24">
                            <path
                                d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z">
                            </path>
                        </svg>
                        <!-- End::header-link-icon -->
                    </span>
                    <span class="dark-layout">
                        <!-- Start::header-link-icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="header-link-icon" fill="currentColor" height="24"
                            viewBox="0 -960 960 960" width="24">
                            <path
                                d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z">
                            </path>
                        </svg>
                        <!-- End::header-link-icon -->
                    </span>
                </a>
                <!-- End::header-link|layout-setting -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element notifications-dropdown main-header-notification">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" id="messageDropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" class="header-link-icon" height="24px" viewBox="0 0 24 24"
                        width="24px" fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                            d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z">
                        </path>
                    </svg>
                    <span class="pulse-danger"></span>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
<!--                <div class="main-header-dropdown dropdown-menu dropdown-menu-end main-header-message">-->
<!--                    <div class="menu-header-content bg-danger text-fixed-white">-->
<!--                        <div class="d-flex align-items-center justify-content-between">-->
<!--                            <h6 class="mb-0 fs-15 fw-semibold text-fixed-white">System Alerts</h6>-->
<!--                            <span class="badge rounded-pill bg-warning pt-1 text-fixed-black">Mark All Read</span>-->
<!--                        </div>-->
<!--                        <p class="dropdown-title-text subtext mb-0 text-fixed-white op-6 pb-0 fs-12">System-->
<!--                            notifications and alerts</p>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </div>-->
<!--                    <ul class="list-unstyled mb-0 notification-scroll" id="header-notification-scroll">-->
<!--                        <li th:each="alert : ${systemAlerts}" class="dropdown-item px-3">-->
<!--                            <div class="d-flex">-->
<!--                                <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-danger">-->
<!--                                    <i class="la la-exclamation fs-20"></i>-->
<!--                                </span>-->
<!--                                <div class="ms-3">-->
<!--                                    <a th:href="@{/admin/alerts}">-->
<!--                                        <h5 class="notification-label text-dark mb-1" th:text="${alert.title}">System-->
<!--                                            Alert</h5>-->
<!--                                    </a>-->
<!--                                    <div class="notification-subtext mb-1" th:text="${alert.message}">Alert message-->
<!--                                    </div>-->
<!--                                    <div class="notification-time"-->
<!--                                        th:text="${alert.timestamp != null ? #temporals.format(alert.timestamp, 'dd/MM/yyyy HH:mm') : #temporals.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}">-->
<!--                                        04/07/2025 10:30-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="ms-auto d-flex flex-column align-items-end">-->
<!--                                    <a th:href="@{/admin/alerts}" class="mt-1">-->
<!--                                        <i class="las la-angle-right text-end text-muted icon"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li th:if="${#lists.isEmpty(systemAlerts)}" class="dropdown-item px-3 text-muted text-center">-->
<!--                            No system alerts.-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div class="text-center dropdown-footer">-->
<!--                        <a th:href="@{/admin/alerts}" class="text-danger fs-13">VIEW ALL ALERTS</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End::main-header-dropdown &ndash;&gt;-->
<!--            </div>-->
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element headerProfile-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" id="mainHeaderProfile"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside">
                    <img th:if="${userProfile != null and userProfile.profileImageUrl != null}"
                        th:src="@{${userProfile.profileImageUrl}}" alt="Profile Image" width="37" height="37"
                        class="rounded-circle">
                    <img th:if="${userProfile == null or userProfile.profileImageUrl == null}"
                        th:src="@{/assets/images/faces/6.jpg}" alt="Default Avatar" width="37" height="37"
                        class="rounded-circle">
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu pt-0 header-profile-dropdown dropdown-menu-end main-profile-menu"
                    aria-labelledby="mainHeaderProfile">
                    <li>
                        <div class="main-header-profile bg-danger menu-header-content text-fixed-white">
                            <div class="my-auto">
                                <h6 class="mb-0 lh-1 text-fixed-white"
                                    th:text="${userProfile != null ? userProfile.firstName + ' ' + userProfile.lastName : 'Administrator'}">
                                </h6>
                                <span class="fs-11 op-7 lh-1">System Administrator</span>
                            </div>
                        </div>
                    </li>
                    <li><a class="dropdown-item d-flex" th:href="@{/admin/profile}"><i
                                class="bx bx-user-circle fs-18 me-2 op-7"></i>Profile</a></li>
                    <li><a class="dropdown-item d-flex" th:href="@{/admin/settings}"><i
                                class="bx bx-cog fs-18 me-2 op-7"></i>System Settings</a></li>
                    <li><a class="dropdown-item d-flex" th:href="@{/admin/logs}"><i
                                class="bx bx-file-blank fs-18 me-2 op-7"></i>System Logs</a></li>
                    <li><a class="dropdown-item d-flex" th:href="@{/logout}">
                            <i class="bx bx-log-out fs-18 me-2 op-7"></i>Sign Out
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End::header-element -->
        </div>
        <!-- End::header-content-right -->
    </div>
    <!-- End::main-header-container -->

    <!-- WebSocket Scripts for Admin Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // WebSocket connection for real-time admin notifications
            let stompClient = null;
            let currentUsername = '[[${#authentication.name}]]';

            function connectWebSocket() {
                const socket = new SockJS('/ws');
                stompClient = Stomp.over(socket);

                stompClient.connect({}, function (frame) {
                    console.log('Admin WebSocket Connected: ' + frame);

                    // Subscribe to admin-specific system alerts
                    stompClient.subscribe('/topic/admin/alerts', function (alert) {
                        const alertData = JSON.parse(alert.body);
                        handleSystemAlert(alertData);
                    });

                    // Subscribe to user-specific admin notifications
                    stompClient.subscribe('/user/[[${#authentication.name}]]/queue/admin/notifications', function (notification) {
                        const notificationData = JSON.parse(notification.body);
                        handleAdminNotification(notificationData);
                    });

                }, function (error) {
                    console.error('Admin WebSocket connection error:', error);
                    setTimeout(connectWebSocket, 5000);
                });
            }

            function handleSystemAlert(alert) {
                updateAlertIndicator();
                addAlertToDropdown(alert);
                showAlertNotification(alert);
            }

            function handleAdminNotification(notification) {
                updateAlertIndicator();
                addAlertToDropdown(notification);
                showAlertNotification(notification);
            }

            function updateAlertIndicator() {
                const badge = document.querySelector('.pulse-danger');
                if (badge) {
                    badge.classList.add('pulse-animation');
                }
            }

            function addAlertToDropdown(alert) {
                const alertList = document.getElementById('header-notification-scroll');
                const noAlertMsg = alertList.querySelector('.text-muted');

                if (noAlertMsg) {
                    noAlertMsg.remove();
                }

                const newAlertHtml = `
                    <li class="dropdown-item px-3 new-alert">
                        <div class="d-flex">
                            <span class="avatar avatar-md me-2 avatar-rounded flex-shrink-0 bg-danger">
                                <i class="la la-exclamation fs-20"></i>
                            </span>
                            <div class="ms-3">
                                <a href="/admin/alerts">
                                    <h5 class="notification-label text-dark mb-1">${alert.title || alert.subject}</h5>
                                </a>
                                <div class="notification-subtext">${alert.message || alert.messageContent}</div>
                                <small class="text-muted">Just now</small>
                            </div>
                        </div>
                    </li>
                `;

                alertList.insertAdjacentHTML('afterbegin', newAlertHtml);

                const alerts = alertList.querySelectorAll('li:not(.text-muted)');
                if (alerts.length > 5) {
                    alerts[alerts.length - 1].remove();
                }
            }

            function showAlertNotification(alert) {
                if (Notification.permission === 'granted') {
                    new Notification(alert.title || alert.subject, {
                        body: alert.message || alert.messageContent,
                        icon: '/assets/images/brand-logos/favicon.ico',
                        tag: 'admin-alert'
                    });
                }
            }

            // Initialize WebSocket connection for admin
            if (currentUsername && currentUsername !== 'anonymousUser') {
                connectWebSocket();
            }

            // Request notification permission
            if ('Notification' in window && Notification.permission === 'default') {
                Notification.requestPermission();
            }
        });
    </script>

    <style>
        .new-alert {
            background-color: #fff5f5;
            border-left: 3px solid #dc3545;
        }

        .pulse-animation {
            animation: pulse 1s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
                opacity: 1;
            }

            50% {
                transform: scale(1.1);
                opacity: 0.7;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    </style>

</header>