<!-- Common Scripts Fragment -->
<th:block th:fragment="scripts">
    <!-- Popper JS -->
    <script th:src="@{/assets/libs/@popperjs/core/umd/popper.min.js}"></script>

    <!-- Bootstrap JS -->
    <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Defaultmenu JS -->
    <script th:src="@{/assets/js/defaultmenu.min.js}"></script>

    <!-- Node Waves JS-->
    <script th:src="@{/assets/libs/node-waves/waves.min.js}"></script>

    <!-- Sticky JS -->
    <script th:src="@{/assets/js/sticky.js}"></script>

    <!-- Simplebar JS -->
    <script th:src="@{/assets/libs/simplebar/simplebar.min.js}" defer></script>
    <script th:src="@{/assets/js/simplebar.js}" defer></script>

    <!-- Color Picker JS -->
    <script th:src="@{/assets/libs/@simonwep/pickr/pickr.es5.min.js}"></script>

    <!-- Apex Charts JS -->
    <script th:src="@{/assets/libs/apexcharts/apexcharts.min.js}"></script>

    <!-- JSVector Maps JS -->
    <script th:src="@{/assets/libs/jsvectormap/js/jsvectormap.min.js}"></script>

    <!-- JSVector Maps MapsJS -->
    <script th:src="@{/assets/libs/jsvectormap/maps/world-merc.js}"></script>
    <script th:src="@{/assets/js/us-merc-en.js}"></script>

    <!-- Chartjs Chart JS -->
    <script th:src="@{/assets/js/index.js}"></script>

    <!-- Custom-Switcher JS -->
    <script th:src="@{/assets/js/custom-switcher.min.js}" defer></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/custom.js}" defer></script>
</th:block>>